@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Scoped Styles for Control Panel */
.admin-panel {
    font-family: 'Poppins', sans-serif;
}

.admin-panel h1,
.admin-panel h2,
.admin-panel h3,
.admin-panel h4,
.admin-panel h5,
.admin-panel h6,
.admin-panel p {
    font-family: inherit;
}

.description p {
    margin-bottom: 1.5em; /* Add space after each paragraph */
}

/* Global CSS file (e.g., index.css or App.css) */
.text-ru {
    font-size: 0.7em !important; /* Adjust font size for Russian */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

/* Global CSS file (e.g., index.css or App.css) */
.text-ru-header {
    font-size: 1.20em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

.text-ru-h {
    font-size: 2.00em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
    text-transform: uppercase !important;
}

.text-ru-h1{
    font-size: 2.00em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

.text-ru-h2{
    font-size: 1.35em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

.text-ru-button {
    font-size: 1.00em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

.text-ru-p {
    font-size: 0.90em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

.text-ru-p1 {
    font-size: 1.00em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}
.text-ru-p2 {
    font-size: 1.15em !important; /* Slightly larger than the regular Russian text */
    letter-spacing: -0.4px !important; /* Adjust letter spacing for Russian */
}

